<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020-2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.atp.repository.mapper.TestCaseMapper">

    <select id="findByNameAndType"
            resultType="org.edgegallery.atp.model.testcase.TestCasePo"
            parameterType="String">
        select * from test_case_table where name = #{name} and type = #{type}
    </select>
    
    <select id="findByName"
            resultType="org.edgegallery.atp.model.testcase.TestCasePo"
            parameterType="String">
        select * from test_case_table 
        <where>
          <if test="nameEn != null and nameEn !=''">
            nameEn = #{nameEn}
          </if>
          <if test="nameCh != null and nameCh !=''">
            and nameCh = #{nameCh}
          </if>
        </where>
    </select>
    
    <select id="findByClassName"
            resultType="org.edgegallery.atp.model.testcase.TestCasePo"
            parameterType="String">
        select * from test_case_table where className = #{className}
    </select>    

    <select id="findAllTestCases"
            resultType="org.edgegallery.atp.model.testcase.TestCasePo">
        select * from test_case_table
        <where>
            <if test="type != null and type !=''">
                type = #{type}
            </if>
            <if test="nameEn != null and nameEn !=''">
                and nameEn ~* #{nameEn}
            </if>
            <if test="nameCh != null and nameCh !=''">
                and nameCh ~* #{nameCh}
            </if>
            <if test="testSuiteId != null and testSuiteId !=''">
                and testSuiteIdList ~* #{testSuiteId}
            </if>
        </where>
        ORDER BY testSuiteIdList ASC, createTime ASC
    </select>

    <select id="countTotal" resultType="java.lang.Integer">
        select count(*) FROM test_case_table
        <where>
            <if test="type != null and type !=''">
                type = #{type}
            </if>
            <if test="nameEn != null and nameEn !=''">
                and nameEn ~* #{nameEn}
            </if>
            <if test="nameCh != null and nameCh !=''">
                and nameCh ~* #{nameCh}
            </if>
            <if test="testSuiteId != null and testSuiteId !=''">
                and testSuiteIdList ~* #{testSuiteId}
            </if>
        </where>
    </select>

    <select id="findAllTestCasesByPaginition"
            resultType="org.edgegallery.atp.model.testcase.TestCasePo">
        select * from test_case_table
        <where>
            <if test="type != null and type !=''">
                type = #{type}
            </if>
            <if test="nameEn != null and nameEn !=''">
                and nameEn ~* #{nameEn}
            </if>
            <if test="nameCh != null and nameCh !=''">
                and nameCh ~* #{nameCh}
            </if>
            <if test="testSuiteId != null and testSuiteId !=''">
                and testSuiteIdList ~* #{testSuiteId}
            </if>
        </where>
        ORDER BY testSuiteIdList ASC, createTime ASC limit #{limit} offset #{offset}
    </select>

    <insert id="insert"
            parameterType="org.edgegallery.atp.model.testcase.TestCasePo">
        insert into
        test_case_table
        (id, nameCh,nameEn, hashCode, type, className, descriptionCh,descriptionEn, filePath,codeLanguage,
        expectResultCh,expectResultEn, testStepCh,testStepEn,testSuiteIdList,createTime,configIdList)
        VALUES
        (#{id}, #{nameCh}, #{nameEn}, #{hashCode},#{type},#{className}, #{descriptionCh},#{descriptionEn},
        #{filePath},#{codeLanguage},
        #{expectResultCh},#{expectResultEn},#{testStepCh},#{testStepEn},
        #{testSuiteIdList},#{createTime},#{configIdList})
    </insert>
    
    <update id="update" parameterType="org.edgegallery.atp.model.testcase.TestCasePo">
        UPDATE
        test_case_table set       
          <if test="descriptionCh != null and descriptionCh !=''">
            descriptionCh = #{descriptionCh},
          </if>
          <if test="descriptionEn != null and descriptionEn !=''">
            descriptionEn = #{descriptionEn},
          </if>
          <if test="codeLanguage != null and codeLanguage !=''">
            codeLanguage = #{codeLanguage},
          </if>
        <if test="expectResultCh != null and expectResultCh !=''">
            expectResultCh = #{expectResultCh},
        </if>
        <if test="expectResultEn != null and expectResultEn !=''">
            expectResultEn = #{expectResultEn},
        </if>
        <if test="className != null and className !=''">
            className = #{className},
        </if>
        <if test="filePath != null and filePath !=''">
            filePath = #{filePath},
        </if>
        <if test="testStepCh != null and testStepCh !=''">
            testStepCh = #{testStepCh},
        </if>
        <if test="testStepEn != null and testStepEn !=''">
            testStepEn = #{testStepEn},
        </if>
        <if test="testSuiteIdList != null and testSuiteIdList !=''">
            testSuiteIdList = #{testSuiteIdList},
        </if>
        <if test="configIdList != null and configIdList !=''">
            configIdList = #{configIdList},
        </if>
        id=#{id}
        where id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM
        test_case_table
        WHERE
        id = #{id}
    </delete>

    <select id="getTestCaseById"
            resultType="org.edgegallery.atp.model.testcase.TestCasePo"
            parameterType="String">
        select * from test_case_table where id = #{id}
    </select>

    <select id="findByConfigId"
            resultType="org.edgegallery.atp.model.testcase.TestCasePo"
            parameterType="String">
        select * from test_case_table where configIdList ~* #{configIdList}
    </select>
</mapper>
